* {
    /* trying to make that ugly focus effect disappear */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:focused {
    /* to make that ugly focus effect disappear on buttons */
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.scroll-pane {
    /* to make that ugly border disappear */
    -fx-background-color: transparent;
}