.root {
    -fx-background-color: white;
    -fx-pref-width: 200px;
    -fx-pref-height: 300px;
    -fx-border-width: 0.2;
    -fx-border-color: gray;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

VBox {
    -fx-border-width: 0.2 0 0 0;
    -fx-border-color: gray;
}

.image {
    -fx-pref-height: 100px;
    /* TODO: Add image to controls */
}

.game-title {
    -fx-font-size: 16pt;
}

.subtitle {
    -fx-font-size: 12pt;
}

.data {
    -fx-font-size: 14pt;
    /* TODO: Align text to right */
}